@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600");
@import './variables.scss';

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  // color: $default;
  // background-color: $white;
}
