.Spinner {
  position: relative;
  border-radius: 50%;
  margin: 25px;
  display: inline-block;
  vertical-align: middle;

  &.circle {

    .outer,
    .inner {
      position: absolute;
      border: 4px solid #f50057;
      border-radius: 50%;
    }

    .outer {
      border-left-color: transparent;
      border-bottom: 0;
      width: 100%;
      height: 100%;
      -webkit-animation: loader-default-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
      animation: loader-default-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    }
    
    .inner {
      width: 66.67%;
      height: 66.67%;
      left: 16.67%;
      top: 16.67%;
      border-right: 0;
      border-top-color: transparent;
      -webkit-animation: loader-default-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
      animation: loader-default-inner 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
    }
  }

  &.music {

    .line {
      width: 20%;
      position: absolute;
      border-radius: 5px;
      bottom: 0;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#1ee95d),
        to(#5714ce)
      );
      background: -webkit-linear-gradient(top, #1ee95d, #5714ce);
      background: -o-linear-gradient(top, #1ee95d, #5714ce);
      background: linear-gradient(to bottom, #1ee95d, #5714ce);
    }
    
    .line1 {
      left: 0;
      -webkit-animation: line-grow 0.5s ease alternate infinite;
      animation: line-grow 0.5s ease alternate infinite;
    }
    
    .line2 {
      left: 33.33%;
      -webkit-animation: line-grow 0.5s 0.2s ease alternate infinite;
      animation: line-grow 0.5s 0.2s ease alternate infinite;
    }
    
    .line3 {
      left: 66.67%;
      -webkit-animation: line-grow 0.5s 0.4s ease alternate infinite;
      animation: line-grow 0.5s 0.4s ease alternate infinite;
    }
  }

  &.domino {

    .singleDomino {
      position: absolute;
      top: 50%;
      width: 41.67%;
      height: 11.67%;
      background: white;
      -webkit-box-shadow: 2px 2px 3px 0 black;
      box-shadow: 2px 2px 3px 0 black;
    }
    
    .domino1 {
      left: 116.67%;
      -webkit-animation: dominos 1s 0.125s ease infinite;
      animation: dominos 1s 0.125s ease infinite;
    }
    
    .domino2 {
      left: 100%;
      -webkit-animation: dominos 1s 0.3s ease infinite;
      animation: dominos 1s 0.3s ease infinite;
    }
    
    .domino3 {
      left: 83.33%;
      -webkit-animation: dominos 1s 0.425s ease infinite;
      animation: dominos 1s 0.425s ease infinite;
    }
    
    .domino4 {
      left: 66.67%;
      -webkit-animation: dominos 1s 0.54s ease infinite;
      animation: dominos 1s 0.54s ease infinite;
    }
    
    .domino5 {
      left: 50%;
      -webkit-animation: dominos 1s 0.665s ease infinite;
      animation: dominos 1s 0.665s ease infinite;
    }
    
    .domino6 {
      left: 33.33%;
      -webkit-animation: dominos 1s 0.79s ease infinite;
      animation: dominos 1s 0.79s ease infinite;
    }
    
    .domino7 {
      left: 16.67%;
      -webkit-animation: dominos 1s 0.9s ease infinite;
      animation: dominos 1s 0.9s ease infinite;
    }
    
    .domino8 {
      left: 0;
      -webkit-animation: dominos 1s 1s ease infinite;
      animation: dominos 1s 1s ease infinite;
    }
  }
}

@keyframes loader-default-outter {

  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-default-inner {

  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes line-grow {

  0% {
    height: 0;
  }

  100% {
    height: 75%;
  }
}

@keyframes dominos {

  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}
